doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		link(rel='stylesheet', href='https://use.typekit.net/izg5jgb.css')
		link(rel='icon', href='/favicon.ico')
		title Care Package
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='robots', content='noindex')
	body
		section.s-green
			div.wrapper
				h1 Care Package
				div.center
					p Thinking about you this week ❤️
					h2 Tunes
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6eblKVkr77tE3Kx2Y2mCK1?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
					h2 Watch
						p
							quote
								a(href='https://kottke.org/20/05/solving-the-the-miracle-sudoku') You’re about to spend the next 25 minutes watching a guy solve a Sudoku. Not only that, but it’s going to be the highlight of your day.
						p
							a(href='https://www.reddit.com/r/ContagiousLaughter/comments/gg6owa/a_secret_is_exposed/') A little old lady who?
						p
							a(href='https://www.reddit.com/r/thisismylifenow/comments/wer1rh/the_shock/') I can't believe you've done this
						p
							a(href='https://www.reddit.com/r/AnimalsBeingDerps/comments/ycn3mn/meet_arnold_arnold_makes_me_cry_with_laughter/') Blind Arnold
						p 
							a(href='https://www.youtube.com/watch?v=GyTMtPAiCR4') The guitar that defined swing
					h2 Reads
						p
							a(href='https://www.raptitude.com/2015/09/how-strange/') Don't Forget How Strange This All Is
						p
							a(href='https://www.vulture.com/article/an-oral-history-of-disney-the-emperors-new-groove.html') An Oral History of Disney's "The Emperor's New Groove"