doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', href='https://use.typekit.net/izg5jgb.css')
	body
		section.s-green
			div.wrapper
				h1 Nathan Phillips
				h2 Web Developer &amp; Dancer
				article
					div.part
						p On the internet, I'm a full stack web developer at #[a(href='http://wahilacreative.com') Wahila Creative]. I've worked on projects in diverse spaces such as Internet of Things, healthcare, education, accessibility, and business analytics.
					div.part
						p Offline, I'm an avid dancer, having competed in several local Lindy Hop competitions, performed for the Pittsburgh Penguins Foundation, and worked as a celebrity partner in the Dancing with Pittsburgh Celebrities charity event.
						p I'm also a hobbyist baker and musician. Most often found in a gym, on a bike, or in a hammock.
				ul
					li
						a(href='https://twitter.com/createnate')
							i.icofont-twitter
					li
						a(href='mailto:nathan@nathanphillips.net')
							i.icofont-email
					li
						a(href='https://github.com/createnate')
							i.icofont-github
		section.s-white
			div.wrapper
				h2 Featured Project: Web Accessibility Analysis
				p At Wahila Creative we're committed to continually improving the availability and accessibility of our websites to all users. We built this internal tool to expedite automated testing, as we use four unique APIs to test WCAG2 compliance. #[a(href='/projects/accessibility/') Read more about our accessibility analyzer.]
				img(src='img/accessibility.png')
		section.s-white
			div.wrapper
				h2 Bookshelf
				p I'm a heavy reader, and tend to prefer nonfiction with a little fantasy and sci-fi sprinkled in. Most recently, I've been invested in books about athletic performance, while also slowly taking down Robert Jordan's monolithic The Wheel of Time series.
				ul.bookshelf
					li.book
						span.title 19Q4
						span.author Haruki Murakami
					li.book
						span.title The Champion's Mind
						span.author Jim Afremow
					li.book
						span.title Frankie Manning: Ambassador of Lindy Hop
						span.author Frankie Manning
					li.book
						span.title Practice Swing
						span.author Robert White
					li.book
						span.title Atomic Habits
						span.author James Clear
					li.book
						span.title Lord of Chaos
						span.author Robert Jordan
					li.book
						span.title Outliers
						span.author Malcolm Gladwell
					li.book
						span.title The Charisma Myth
						span.author Olivia Fox Cabane
		section.s-green
			div.wrapper
				h2 Colophon
				p Built with #[a(href='http://11ty.io') Eleventy] and plain old HTML, CSS, and love. Hosted by #[a(href='https://www.netlify.com') Netlify]. I'm committed to making this site accessible to all, so please report any problems you may have using the site.
				p This site is typeset in Mrs. Eaves and Futura.
				p &copy; Nathan Phillips 2019