doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', href='https://use.typekit.net/izg5jgb.css')
		link(rel='icon', href='/favicon.ico')
		title Nathan Phillips
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		section.s-green
			div.wrapper
				h1 Nathan Phillips
				h2 Web Developer &amp; Dancer
				article
					div.part
						p On the internet, I'm a senior UI engineer at #[a(href='http://codescience.com') CodeScience]. I've worked on projects in diverse spaces such as Internet of Things, healthcare, education, accessibility, and business analytics.
						p My development philosophy: build sustainable, progressive websites and web apps using time-tested tools.
					div.part
						p Offline, I'm an avid dancer, having competed in several local Lindy Hop competitions, and performed for the Pittsburgh Penguins Foundation and as a celebrity partner in the Dancing with Pittsburgh Celebrities charity event.
						p I'm also a hobbyist baker and musician. Most often found in a gym, on a bike, or in a hammock.
				ul.social
					li
						a(href='https://github.com/createnate')
							i.icofont-github